.strelka{
    margin-left: 25px;
    margin-top:400px;
}

.button{
    margin-top: 110px;
    color:  hsl(105, 53%, 49%);
    padding: 20px 30px;
    border-radius: 5px;
    border-color: gray;
    background-color: white;
}

.mores{
    margin-right: 100px;
    margin-top: -50px;
}

.nuqt{
    padding-left: 15px;
}

.nuqtq{
    padding-right: 15px;
}

.nuqta{
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 24px;
}

.boxxs{
    box-shadow: 2px  3px 4px 4px grey ; 
    background-color: white;
    width: 600px;
    height: 400px;
    margin-left: 220px;
    margin-top: -340px;
}


.grev{
padding-top: 50px;
padding-left: 60px;
}

.bocha{
    padding-left: 50px;
    padding-top: 10px;
}

.shah{
    padding-left: 170px;
    margin-top: -80px;
}


.ptag{
    padding-left: 170px;
    margin-top: 30px;
}

.star{
    padding-left: 170px;
    margin-top: 20px;
}

.design{
    padding-left: 370px;
    margin-top: -25px;
}

.hr{
    margin-top: 50px;
   margin-left: 90px;
}

.yil{
    margin-left: 700px;
    height: 400px;
    margin-top: -400px;
}